@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300&subset=latin,cyrillic);
/*********** Mixins **************/
html,
body {
  color: #283645;
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.visually-hidden {
  position: absolute;
  left: -9999px;
}
.btn {
  display: inline-block;
  box-sizing: border-box;
  min-width: 280px;
  padding: 10px 45px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid #e9ebec;
  border-radius: 40px;
  outline: none;
}
.btn--submit {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border-color: #2aab6d;
  border-radius: 4px;
}
.btn--post {
  color: #d22856;
  border-color: #d22856;
}
.btn--reset {
  color: #283645;
  border-color: #283645;
  opacity: 0.1;
}
.btn--reset:hover {
  opacity: 1;
}
.btn--applications-load {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* header */
.page-header {
  text-align: center;
  color: #ffffff;
  background: #1d2631 url('../img/background-1@1x.jpg') top center no-repeat;
}
.page-header--bg-position {
  background-position: center 300px;
}
.page-header__inner {
  position: relative;
}
@media screen and (min-width: 720px) {
  .page-header__inner {
    margin-right: 20px;
    margin-left: 20px;
  }
}
.page-header__logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.page-header__logo svg {
  fill: #ffffff;
}
.page-header__logo-link {
  display: block;
}
.page-header__logo:hover svg {
  fill: #d22856;
}
.page-header__title {
  padding: 30px 40px 50px;
  font-size: 24px;
  font-weight: 200;
}
/* navigation */
.main-nav {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__toggler {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 30px;
  background: transparent url('../img/menu-burger.svg') right center no-repeat;
  border: none;
  outline: none;
}
.main-nav__toggler--close {
  background-image: url('../img/menu-cross.svg');
}
.main-nav--opened {
  background-color: #283645;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 1px;
  padding-top: 65px;
  text-align: center;
  overflow: hidden;
}
.main-nav__list.main-nav__list--opened {
  height: auto;
}
.main-nav__list.main-nav__list--opened .main-nav__item a {
  display: block;
  padding: 25px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
}
/* promo */
.promo-hand {
  min-height: 395px;
}
.applications {
  background-color: #0c1015;
}
.applications__text {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}
.applications__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.applications__item {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  margin: 0 6px;
}
.applications__link {
  display: block;
  height: 100%;
  font-size: 0;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}
.applications__link--mac {
  background-image: url('../img/apple-logo.svg');
}
.applications__link--android {
  background-image: url('../img/android-logo.svg');
}
.applications__link--windows {
  background-image: url('../img/microsoft-logo.svg');
}
.information {
  text-align: center;
}
.information__introduction {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.8;
}
.information__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 320px;
  background-color: #f2f2f2;
}
.information__item {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.information__item p {
  font-size: 14px;
}
.information__title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}
.reviews__inner {
  margin-right: 20px;
  margin-left: 20px;
}
.reviews__slider {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.reviews__author {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}
.reviews__text {
  font-size: 14px;
  line-height: 1.8;
}
.reviews__toggles {
  text-align: center;
}
.reviews__toggle {
  display: inline-block;
  vertical-align: top;
  width: 7px;
  height: 7px;
  margin: 10px;
  background-color: #e9ebec;
  border: 3px #ffffff solid;
  border-radius: 50%;
}
.reviews__toggle--active {
  border-color: #000;
}
.price {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
}
.price__slider {
  position: relative;
  width: 100%;
  min-height: 300px;
  overflow: hidden;
}
.price__list {
  position: absolute;
  top: 0;
  left: -100px;
  width: 600px;
}
.price__item {
  min-width: 280px;
}
.price__option {
  padding: 20px;
  border: 1px solid red;
}
.price__name {
  padding: 20px;
  border: 1px solid red;
}
.price__toggles {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.price__toggle {
  display: inline-block;
  vertical-align: top;
  width: 7px;
  height: 7px;
  margin: 10px;
  background-color: #e9ebec;
  border: 3px #ffffff solid;
  border-radius: 50%;
}
.price__toggle--active {
  border-color: #000;
}
.contacts {
  text-align: center;
}
.contacts__title {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.8;
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts__item {
  margin-bottom: 30px;
}
.contacts__name {
  font-size: 18px;
  font-weight: bold;
}
.contacts__link {
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: #d22856;
}
.map img {
  width: 100%;
  height: auto;
}
.additional-text {
  text-align: center;
  padding: 20px;
}
/* photo section */
.photos__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.photos__item {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}
.photos__item--panorama {
  margin: 0;
}
.photos__image {
  font-size: 0;
}
.photos__image img {
  width: 100%;
  height: auto;
}
.photos__image--panorama {
  position: relative;
}
.photos__image--panorama::after {
  content: attr(data-title);
  position: absolute;
  top: 0;
  right: 20px;
  padding: 10px 25px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d22856;
}
.photos__content {
  padding: 20px;
  font-size: 14px;
}
.photos__author {
  font-weight: bold;
  margin-bottom: 10px;
}
.photos__timer {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}
.photos__description {
  line-height: 1.8;
  margin-bottom: 20px;
}
.photos__like {
  color: #d22856;
}
/* Forma */
.form__section {
  padding: 20px;
}
.form__section--gray {
  background-color: #f2f2f2;
}
.form__section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.form__title {
  font-weight: normal;
  text-align: center;
}
.form__label {
  display: block;
  margin: 10px;
  text-transform: uppercase;
  color: #d22856;
}
.form__label--center {
  text-align: center;
}
.form__label--control-text {
  text-transform: none;
  font-size: 18px;
  color: #283645;
}
.form__label--checkbox {
  position: relative;
  padding-left: 68px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form__label--checkbox input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.form__label--checkbox input[type="checkbox"] + span:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 35px;
  height: 35px;
  border: 2px solid #e9ebec;
  background-color: #ffffff;
}
.form__label--checkbox input[type="checkbox"]:checked + span:before {
  background: #ffffff url('../img/facebook.svg') center center no-repeat;
}
.form__label--radio {
  position: relative;
  padding-left: 68px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form__label--radio input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.form__label--radio input[type="radio"] + span:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #e9ebec;
  background-color: #ffffff;
}
.form__label--radio input[type="radio"]:checked + span:before {
  background: #ffffff url('../img/twitter.svg') center center no-repeat;
}
.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
}
.form__text {
  font-weight: normal;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}
.form__submit {
  text-align: center;
}
.form__info {
  text-transform: uppercase;
}
.form__info span {
  color: #d22856;
}
/* Forma post */
.form-post__load-file {
  display: block;
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 374px;
  margin: 0 auto 20px;
  background-color: #124578;
}
.form-post__load-file input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.form-post__label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 45px;
  height: 45px;
  margin-bottom: 15px;
  background-color: #123456;
}
.form-post__input--radio {
  opacity: 0;
}
.form-post__input--radio:checked ~ label {
  background-color: yellow;
}
.input-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.input-list--line {
  text-align: center;
  margin-bottom: 20px;
}
.input-list__item--line {
  display: inline-block;
  vertical-align: top;
}
.scale-slider {
  position: relative;
  width: 240px;
  margin: 35px auto;
}
.scale-slider__line {
  height: 2px;
  background-color: #000;
}
.scale-slider__point {
  position: absolute;
  top: -6px;
  left: 75%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 2px solid #d22856;
  border-radius: 50%;
}
/* Footer */
.page-footer {
  text-align: center;
  padding-top: 40px;
}
.page-footer__inner {
  margin-right: 20px;
  margin-left: 20px;
}
.page-footer__logo {
  margin-bottom: 40px;
}
.page-footer__logo .glasses {
  fill: cyan;
}
.page-footer__logo:hover .glasses {
  fill: blue;
}
.page-footer__social {
  margin-bottom: 20px;
}
.page-footer__copyright {
  padding-top: 20px;
}
.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
  margin-left: 11px;
  background: transparent url('../img/htmlacademy.svg') center center no-repeat;
}
.social-links {
  text-align: center;
  font-size: 0;
}
.social-link {
  display: inline-block;
  vertical-align: top;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  border-radius: 50%;
  border: 3px solid #e9ebec;
  background: #ffffff url('../img/twitter.svg') center center no-repeat;
}
.social-link:hover {
  background-color: #e9ebec;
}
.social-link--vk {
  background-image: url('../img/twitter.svg');
}
.social-link--facebook {
  background-image: url('../img/facebook.svg');
}
.social-link--youtube {
  background-image: url('../img/youtube.svg');
}
.pop-up {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto 30px;
  text-align: center;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
}
.pop-up__inner {
  padding: 20px;
}
.pop-up__title {
  margin-bottom: 20px;
}
.pop-up__content {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.8;
}
.pop-up__button-block {
  padding-top: 30px;
}
.pop-up__button-block--gray {
  background-color: #f2f2f2;
}
