@import "variables.less";

html,
body {
  color: @brand-color;
  font-family: @font-family-base;
  font-size: @font-size-base;
  background-color: @light-color;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* header */
.page-header {  
  text-align: center;
  color: @light-color;
  background: #1d2631 url('../img/background-1@1x.jpg') top center no-repeat;
  
  &__inner {
    position: relative;
    
    @media screen and (min-width: 720px) {
      padding-right: @padding-help;
      padding-left: @padding-help;
    }    
  }
  
  &__logo {
    position: absolute;
    top: @padding-help;
    left: @padding-help;
    
    svg {
      fill: @light-color;
    }
    
    &-link {
      display: block;
    }
    
    &:hover {
      svg {
        fill: @pink-color;
      }
    }
  }
  
  &__title {
    padding: 30px 40px 50px;
    font-size: 24px;
    font-weight: 200;
  }
}

/* navigation */
.main-nav {
  background-color: rgba(255,255,255,0.3);
  
  &__toggler {
    position: absolute;
    top: @padding-help;
    right: @padding-help;
    width: 50px;
    height: 30px;
    background: transparent url('../img/menu-burger.svg') right center no-repeat;    
    border: none;
    
    &--close {
      background-image: url('../img/menu-cross.svg');
    }
  }
  
  &--opened {
    background-color: @brand-color;
    
    .main-nav__list {
      transition: height 1.5s;
      height: auto;
    }
    
    .main-nav__item {
      a {
        display: block;
        padding: 25px;
        font-weight: bold;
        color: @light-color;
        text-decoration: none;
        text-transform: uppercase;
        background-color: @brand-color;
        border-top: 1px solid #485461;
        border-bottom: 1px solid #000;
      }
    }
  }
  
  &__list {
    .ul-clear();
    height: 1px;
    padding-top: 65px;
    text-align: center;
    overflow: hidden;
  }
}


/* Footer */
.page-footer {
  text-align: center;
  padding-top: 40px;
  border-top: 1px solid #000;
  
  &__inner {
    padding-right: @padding-help;
    padding-left: @padding-help;
  }
  
  &__logo {
    margin-bottom: 40px;
    
    .glasses {
        fill: cyan;
    }
    
    &:hover {
      .glasses {
        fill: blue;
      }
    }
  }
  
  &__social {
    margin-bottom: 20px;
  }
  
  &__copyright {
    padding-top: 20px;
    
    &-link {
      display: inline-block;
      vertical-align: middle;
      width: 27px;
      height: 34px;
      margin-left: 11px;
      background: transparent url('../img/htmlacademy.svg') center center no-repeat;
    }
  }
  
}

.social {
  &-links {
    text-align: center;
    font-size: 0;
  }
    
  &-link {
    display: inline-block;
    vertical-align: top;
    width: 45px;
    height: 45px;
    margin-right: 15px;    
    border-radius: 50%;
    border: 3px solid @gray-color;
    background: #fff url('../img/twitter.svg') center center no-repeat;
    
    &:hover {
      background-color: @gray-color;
    }
    
    &--vk {
      background-image: url('../img/twitter.svg');
    }
    
    &--facebook {
      background-image: url('../img/facebook.svg');
    }
    
    &--youtube {
      background-image: url('../img/youtube.svg');
    }
  }
}
