@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300&subset=latin,cyrillic);


@font-family-base: "Open Sans", Calibri, Arial, sans-serif;

@font-size-base: 14px;

@brand-color: #283645;
@pink-color: #d22856;
@green-color: #2aab6d;
@light-color: #fff;
@dark-color: #000;
@gray-color: #e9ebec;
@light-gray-color: #f2f2f2;
@body-bg-dark: #1d2631;

@indent-help: 20px;
@line-height: 1.8;

/*********** Mixins **************/

.ul-clear() {
  margin: 0;
  padding: 0;
  list-style: none;
}